<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        hello world! <strong>{{ boldmessage }}</strong><br />

        {% if categories %}
            <ul>
                {% for category in categories %}
                <li>
                <a href="{% url 'rango_namespace:category' category.slug %}">{{ category.name }}--{{category.likes}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <h2>Top Pages</h2>
        {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}--{{page.views}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no Pages present.</strong>
        {% endif %}
        <a href="{% url 'rango_namespace:about' %}">About</a><br />
        <a href="{% url 'rango_namespace:add_category' %}">Add a New Category</a><br />
        
        <img src="/static/images/EricCartman.png" alt="Picture of Rango" /> 
        <img src="{% static "images/EricCartman.png" %}" alt="Picture of Rango" />
        <img src="/media/EricCartman.png" alt="Picture of Rango" />
        {% if user.is_authenticated %}
        <h1>Logged in as {{ user.username }}!</h1>
        <a href="/rango/logout/">Logout</a><br />
        {% else %}
        <a href="/rango/login/">Login</a>
        <a href="/rango/register/">Register Here</a>
        {% endif %}
    </body>

</html>